body{
    margin: 0px;
}
#topo{
    display: flex;
    align-items: center;
    padding-left: 90px;
    border-bottom: 0.5px solid #9A9EA6;
}

i{
    color: blue;
    background-color: whitesmoke;
    padding: 14px;
    border-radius: 120%;
    border: 1px solid  #4372EB;
}

#logonome{
    padding-left: 70%;
    font-size: 20px;
}
#banner {
    display: flex;
    padding-top: 100px;
}

#txt_banner h1{
 
    font-size: 80px;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans';
    padding-left: 15%;
    padding-top: 10%;
    width: 90%;
    color: #14183E;

}
#txt_banner p{
    font-size: 17px;
    color:  #9A9EA6;
}

.txt_claro{
    color: #4372EB;
}
#retangulo{
    margin-top: 10%;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #4372EB;
    width: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 20px 20px;
}
#veja{
    display: flex;
margin-top: 10%;
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;   
    border-radius: 1px solid blue; 
    align-items: center;

}
#botao{
    display:flex;
    align-items: center;
    text-align: center;

}
#veja i{
display: flex;
text-align: center;
padding-left: 20px;
}
#empresas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:10% ;
}
#parte1{
    display: flex;
    margin-top: 10%;
}
#destino{
    color: #4372EB;
    padding-left: 100px;
    font-size: 10px;
    font-weight: 800;
}
#destino h2{
    color: #14183E;
    font-size: 50px;
}  
#paisagem{
    display: flex;
}
#paraiso1{
    display: flex;
    background-image: url(/imagens/destino2.png);
    height: 400px;
    width: 300px;
    background-size: cover;
    margin-left: 40px;
    font-size: 800;
    border-radius: 5%;
    margin-left: 100px;
    align-items: flex-end;
}
.etiqueta h1{
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.etiqueta p{
    color: #68696b;
}
.etiqueta{
    background-color: rgba(200, 210, 220, 0.8);
    height: fit-content ;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    width: 150px;
}
#paraiso2{
    display: flex;
    background-image: url(/imagens/destino1.png);
    height: 400px;
    width: 300px;
    background-size: cover;
    margin-left: 40px;
    font-size: 800;
    border-radius: 5%;
    align-items: flex-end;
}
.etiqueta h1{
     color: black;
     font-size: 20px;
     font-weight: 400;
    }
#paraiso3{
    display: flex;
    background-image: url(/imagens/destino5.png);
    height: 400px;
    width: 300px;
    background-size: cover;
    margin-left: 40px;
    font-size: 800;
    border-radius: 5%;
    align-items: flex-end;
}
#paraiso4{
    display: flex;
    background-image: url(/imagens/destino4.png);
    height: 400px;
    width: 300px;
    background-size: cover;
    margin-left: 40px;
    font-size: 800;
    border-radius: 5%;
    align-items: flex-end;
}#reserva1{
    color: #4372EB;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10%;
    padding-left: 100px;
}

#parte2{
    display: flex;
}
#nao{
    border:1px solid red;
    font-size: 50px;
    font-weight: 900;
    padding-left: 100px;
    color: #14183E;
    font-family: 'Plus Jakarta Sans';
    width: 700px;
}
#lupa h1{
    padding-top: 10%;
    padding-left: 10%;
    font-size: 22px;
    color: rgb(70, 68, 68);
}
#lupa p{
    font-size: 12px;
    padding-left:15%;
}

#geral{
    border: 1px solid blue;
    display: flex;
}












   


